.padsContainer {
    margin: auto;
    display: grid;
    height: 70vh;
    width: 70vh;
    justify-items: center;
    grid-gap: 10px;
    grid-template-areas:
        "area-1 area-2 area-3"
        "area-4 area-5 area-6"
        "area-7 area-8 area-9";
}

@media only screen and (max-width: 600px) {
    .padsContainer {
        height: 80vw;
        width: 80vw;
    }
}